
.container {
    margin: 20px;
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
  }
  
  button {
    padding: 10px 20px;
    margin: 0 5px;
  }
  
.but {
    padding: 10px 20px;
    margin: 0 5px;
  }



